@{
    Layout = null;
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-0">
            <h4>Cuentas</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive theme-scrollbar">
                <table class="display" id="TableAccounts">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var tableAccounts = $("#TableAccounts").DataTable({
        dom:
            "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'f>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7'p>>",
        "bServerSide": true,
        "bProcessing": true,
        "bSearchable": true,
        responsive: true,
        async: false,
        cache: false,
        "sAjaxSource": "Accounts/GetList",
        "columns": [
            {
                "data": "Codigo",
            },
            {
                "data": "Descripcion",
            },
            {
                "data": "Id",
                width: "1%",
                render: function (data, type, row) {
                    return `<div class="btn-group">
                        <button class="btn btn-primary btn-sm" onclick="GetView('Accounts/Edit?id=' + `+ data + `, 'main-container')"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                      </div>`;
                }
            },
        ],
    });

    $('#TableAccounts tbody').on('dblclick', 'tr', function () {
        var data = tableAccounts.row(this).data();
        GetView('Accounts/Edit?id=' + data.Id, 'main-container')
    });
</script>